<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>BMI Stats</h1>

<f:flashMessages />

<f:for each="{bmis.items}" as="bmi">
	<div style="width: 150px; text-align: right; float: left; margin-right: 5px;"><f:translate key="bmi.{bmi.bmiIndex}" /></div>
	<div style="width: 50px; text-align: right; float: left; margin-right: 5px;">{bmi.nr}</div>
	<div style="width: 50px; text-align: right; float: left; margin-right: 5px;">{bmi.percent}%</div>
	<div style="width: {bmi.width}px; text-align: right; float: left; margin-right: 5px; background-color: yellow;">&nbsp;</div>
	<div style="clear: both;"></div>
	<div style="height: 2px;"></div>
</f:for>
	<div style="width: 150px; text-align: right; float: left; margin-right: 5px;">Total</div>
	<div style="width: 50px; text-align: right; float: left; margin-right: 5px;">{bmis.total}</div>
	<div style="width: 50px; text-align: right; float: left; margin-right: 5px;">100%</div>
	<div style="width: {bmis.totalwidth}px; text-align: right; float: left; margin-right: 5px; background-color: yellow;">&nbsp;</div>
	<div style="clear: both;"></div>
	<div style="height: 2px;"></div>

</f:section>